#pluginAppObj_4_73 .slidingpanels-container {
	position: relative;
	border-style: solid;
	border-color: gray;
	border-width: 0 0 0 1px;
}

#pluginAppObj_4_73 .slidingpanels-container .slice {
	position: absolute;
	top: 0;
	bottom: 0;
	border-color: gray;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	overflow: hidden;
	cursor: pointer;
}

#pluginAppObj_4_73 .slidingpanels-container .number-container {
	position: absolute;
	height: 40px;
	bottom: 15px;
	left: 0;
	right: 0;
	text-align: center;
}

#pluginAppObj_4_73 .slidingpanels-container .number {
	margin: 0 auto;
	display: inline-block;
	line-height: 26px;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	background-color: rgb(170, 170, 170);
	color: rgb(255, 255, 255);
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
}

#pluginAppObj_4_73 .slidingpanels-container .number.selected {
	background-color: rgb(255, 255, 255);
	color: rgb(170, 170, 170);
	box-shadow: 0 0 0 4px rgba(170, 170, 170, 0.6);
}

#pluginAppObj_4_73 .slidingpanels-container .loading-image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 2;
}