
#pluginAppObj_4_89 {
	width: 100%;
}
#pluginAppObj_4_89 .cd-headline {
	display: block;
	font-family: 'Comfortaa';
	font-size: 20px;
	line-height: 28px;
	color: rgba(255, 153, 0, 1);
	font-style: normal;
	font-weight: normal;
}

#pluginAppObj_4_89 .cd-headline b,
#pluginAppObj_4_89 .cd-headline i,
#pluginAppObj_4_89 .cd-headline em {
	
	font-family: 'Comfortaa';
	font-size: 20px;
	line-height: 28px;
	color: rgba(255, 153, 0, 1);
	font-style: normal !important;
	font-weight: normal;
}

/* Loading bar color */
#pluginAppObj_4_89 .cd-headline.loading-bar .cd-words-wrapper::after {
	background-color: rgba(255, 153, 0, 1);
}

#pluginAppObj_4_89 .cd-intro {
	text-align: center;
}
